# Project - Data Mining and Machine Learning
## Project description 
Real or Not? NLP with Disaster Tweets: In this project you are challenged to build a Machine Learning model that can predict which tweets are about a real disaster and which are not. The project topic is based around a Kaggle competition.

##Team members
- Stéphane Vez
- Maël Maceiras
- Pierre Huber

##Libraries

In [3]:
# Import requiered packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.base import TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegressionCV
from sklearn.linear_model import LogisticRegression
import spacy
import string

%matplotlib inline
sns.set_style("whitegrid")

##Data

In [4]:
sample = pd.read_csv('https://raw.githubusercontent.com/PierreHuber/DMML_Apple/main/data/sample_submission.csv')
test = pd.read_csv("https://raw.githubusercontent.com/PierreHuber/DMML_Apple/main/data/test_data.csv")
training = pd.read_csv('https://raw.githubusercontent.com/PierreHuber/DMML_Apple/main/data/training_data.csv')
test

         id  ...                                               text
0      9972  ...  Crptotech tsunami and banks.\n http://t.co/KHz...
1      9865  ...  I'm that traumatised that I can't even spell p...
2      1937  ...  @foxnewsvideo @AIIAmericanGirI @ANHQDC So ... ...
3      3560  ...  Me watching Law &amp; Order (IB: @sauldale305)...
4      2731  ...                  Papi absolutely crushed that ball
...     ...  ...                                                ...
1137   3497  ...  @ItsQueenBaby I'm at work it's a bunch of ppl ...
1138   9191  ...  #?? #?? #??? #??? Suicide bomber kills 15 in S...
1139  10217  ...  Eruption of Indonesian volcano sparks transpor...
1140   5308  ...  Never let fear get in the way of achieving you...
1141   8044  ...  wowo--=== 12000 Nigerian refugees repatriated ...

[1142 rows x 4 columns]